* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #000;
    max-width: 1024px;
    margin: 0 auto;
}
.app-academy,
.sign-in{
    font-size: 32px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding: 0 20px;
}
.app-academy{ float: left;}
.sign-in{
    float: right;
    padding-right: 65px;
}
header{overflow: hidden; margin: 40px 0 20px;}
nav{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-bottom: 50px;
}
nav a{
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    padding:15px 30px ;
    display: inline-block;
    vertical-align: top;
    margin: 0 65px;
}
h1{
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}
