* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #000;
    max-width: 1024px;
    margin: 0 auto;
}
.app-academy,
.sign-in{
    font-size: 32px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding: 0 20px;
}
.app-academy{ float: left;}
.sign-in{
    float: right;
    padding-right: 65px;
}
header{overflow: hidden; margin: 40px 0 20px;}
nav{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-bottom: 50px;
}
nav a{
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    padding:15px 30px ;
    display: inline-block;
    vertical-align: top;
    margin: 0 65px;
}
nav a:hover,
nav a:focus{opacity: 0.4;}
h1{
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
}
.main-img{
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}
main{
    margin-bottom: 20px;
}
.text-box{
    display: inline-block;
    vertical-align: top;
    width: 316px;
    background-color: #d9d9d9;
    margin-right: 18px;
    text-align: center;
    padding: 0 5px 10px;
}
.text-box h2{
    font-size: 36px;
    line-height: auto;
    margin: 10px 0 10px;
}
.text-box:last-child {margin-right: 0;}
footer{
    overflow: hidden;
    background-color: #d9d9d9;
}
.footer-branding{
    float: left;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 32px;
    padding: 40px;

}
.footer-right{
    float: right;
}
.footer-nav{
    margin: 0;
    padding:25px 0;
}
.footer-nav li{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

}
.footer-nav li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;

}
.footer-nav li a:hover,
.footer-nav li a:focus{opacity: 0.4;}
.copyright{
    text-align: center;
    padding-bottom: 30px;
}
.img-boxes{overflow: hidden;}
.img-box{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 316px;
    margin-right: 28px;
}
.img-box:nth-child(3),
.img-box:nth-child(6){margin-right: 0;}
.user-form{
    overflow: hidden;
}
.user-form fieldset{
    padding: 20px 250px;
}
.form-inner{
    padding-left: 40px;
    margin-bottom: 20px;
}
input[type=text],
textarea{
    box-sizing: border-box;
    width: 40%;
    padding: 10px 5px;
}
#last_name{margin-left: 36px;}
#first_name{margin-left: 32px;}
label{vertical-align: top;}
.submit-button{
    font-size: 24px;
    font-weight: bold;
    color: #000;
    background-color: #d9d9d9;
    border: none;
    padding: 5px 15px;
    margin-left: 150px;
}
.websites{
    margin: 0;
    padding: 0 200px;
    list-style-type: circle;
}
.websites li{
    margin: 10px 15px;
    padding: 10px 20px;
}
.websites li a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}


